*{
    margin: 0;
    padding: 0;
}
h3{
    font-family: 'Helvetica', sans-serif;
    margin-left: 20px;
}
h1 {
    color: #EDE2E0;
    font-family: 'Trocchi', serif;
    font-size: 45px; font-weight: normal;
    line-height: 48px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 20px;

}
body {

    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    font-family: sans-serif, 'Helvetica';
    font-size: 20px;
}

select {
    width: 25%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: silver;
    margin-left: 20px;
}

.fecha{
    width: 100px;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    background-color: silver;
    margin-top: 20px;
}

input[type=text], select, textarea {
    width: 20%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin-left: 20px;
    background-color: silver;
    border-color: #EDE2E0;
    color: black;


}




input[type=radio] {

    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin-left: 20px;

}

input[type=password], select, textarea {
    width: 20%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin-left: 20px;
    background-color: silver;
    border-color: #EDE2E0;
}

label {
    margin-left: 20px;
    padding: 12px 12px 12px 0;
    display: inline-block;
    color: #000000;
}

input[type=submit] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
    margin-left: 20px;
}

input[type=submit]:hover {
    background-color: white;
    color: black;

}

.menu{
    width: 280px;
    height: 30px;
    border: 0px solid #ccc;
    float: left;
    margin-top: 40px;
    background: transparent;
}

.menu ul li{
    list-style: none;
    float: left;
}

.menu ul li a{
    text-decoration: none;
    padding: 10px 15px;
    border: 1px solid #ccc;
    color: black;
}

.menu ul li a:hover{
    background: silver;
    color: black;
    transition: background 1s, color 1s;
}



