*{
    margin: 0;
    padding: 0;
}


body{

    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

}

h1 {
    color: #EDE2E0;
    font-family: 'Trocchi', serif;
    font-size: 45px;
    font-weight: normal;
    line-height: 48px;
    margin-top: 20px;
    margin-bottom: 40px;

}

label{

    font-family: Helvetica, sans-serif;
    font-size: 20px;
    margin: 10px 20px;
}

input[type=text], select, textarea {

    width: 15%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin: 10px;
}
input[type=password], select, textarea {
    width: 15%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin-top: 10px;
}
input[type=submit] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 20px;
}

input[type=submit]:hover {
    background-color: white;
    color: black;

}