*{
    margin: 0;
    padding: 0;
}


body{

    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: left;

}

h1 {
    color: #EDE2E0;
    font-family: 'Trocchi', serif;
    font-size: 45px; font-weight: normal;
    line-height: 48px;
    margin-left: 10px;
    margin-top: 40px;
    margin-bottom: 40px;

}

label{

    font-family: Helvetica, sans-serif;
    font-size: 20px;
    margin: 10px 20px;
}

input[type=text], select, textarea {

    width: 10%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin: 10px;
}
